.contact-container h1.header {
  text-align: center;
}

.contact-container p.texts {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  color: #596157;
}
