.heroContainer {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../assets/hero-image.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
}

header h1 {
  font-size: 56px;
  font-family: "Domine", "serif";
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}

p.text {
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  font-size: 16px;
  margin: 25px auto;
  text-align: center;
}
