.loginContainer {
  width: 100vw;
}

.loginMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginMain img {
  max-height: 500px;
  object-fit: cover;
}

.loginHeader {
  font-family: "Domine", serif;
  font-size: 36px;
  font-weight: 700;
  color: #18b2dc;
}

.form {
  margin-left: 15%;
}

.form h1 {
  margin-bottom: 50px;
}

.form form input,
.resetPassShow input {
  background-color: #fff;
  margin: 15px 0;
  width: 520px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  color: #596157;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.form form input:focus,
.reset-pass input:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.form form button {
  width: 520px;
  padding: 15px 0;
  border-radius: 50px;
  font-family: "Inter";
  font-size: 16px;
  margin: 15px 0;
  cursor: pointer;
}

.form form button.login {
  background-color: #18b2dc;
  color: #fff;
}
.form form button.login:hover {
  background-color: #10a0c8;
  color: #fff;
}

.texts {
  width: 520px;

  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.texts p,
.texts .link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.texts .link {
  color: #2db2de;
  font-weight: 700;
  border-bottom: 2px solid #2db2de;
}

.resetPassShow {
  display: flex;
  flex-direction: column;
}

.resetPassNoShow {
  display: none;
}
