.searchContainer {
  margin: -100px 15% 40px;
  z-index: 1000;
  padding: 34px 60px;
  box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
}

.searchContainer input {
  padding: 14px 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  color: #444;
  font-size: 16px;
  background-color: #f9f9fb;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchContainer input:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.searchContainer .searcInput {
  margin-right: 40px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.searchContainer button {
  background-color: #18b2dc;
  color: #fff;
  padding: 14px 38px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.searchContainer button:hover {
  background-color: #1692b4;
}

.searchContainer label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #596157;
}

/* .searchContainer input#start {
  padding-right: 120px;
} */

@media (max-width: 1024px) {
  .searchContainer {
    margin-top: 40px;
    flex-direction: column;
  }

  .searchContainer .searcInput {
    text-align: center;
  }
}
