.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15%;
}

.navContainer img {
  height: 45px;
  width: auto;
  border-radius: 0;
}

.navContainer ul {
  display: flex;
  list-style: none;
}

.navContainer li.menu {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0 15px;
  padding: 5px 10px;
  color: #596157;
  cursor: pointer;
  white-space: nowrap;
}

.navContainer li:hover,
.navContainer li.active {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0 15px;
  padding: 5px 10px;
  color: #0a1128;
  font-weight: 500;
  cursor: pointer;
}

button.signin {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-color: #18b2dc;
  color: #fff;
  padding: 10px 38px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px 0;
  white-space: nowrap;
}

button.signin:hover {
  background-color: #1692b4;
}
