.trending-container {
  margin: 110px 15%;
}
.tours {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 15px;
}

.allTours p.allTour {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #18b2dc;
  cursor: pointer;
  padding-bottom: 5px;
}

.allTours p.allTour:hover {
  border-bottom: 4px solid #18b2dc;
  transition: border 0.5s;
}

.allTours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .tours {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 10px;
  }

  h1.header {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .trending-container {
    margin: 110px 5%;
  }
  .tours {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 10px;
  }
}
